body {
	margin:0;
	padding: 0;
	
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #ffffff;
	
	background-color: #282828;
}

a {
	text-decoration: none;
	color: inherit;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.wrapper {
	margin:0;
	padding: 0;
	width: 1200px;
	margin: 0 auto;
	
	background-color: #ffffff;
}

.header {
	min-height: 320px;
	
	background-color: #f3f7f8;	
}

.header--main-page {
	margin-bottom: 61px;	
}

.services {
	background-color: #f4f8f9;
}

.header__inner,
.header__search-form ,
.header__buy-navigation {
	padding: 0;
	margin: 0;
}
.header__inner-top {
	width: 1200px;
	margin: 0 auto;
	
	background-color: #293449;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
}

.header__inner:nth-child(1) {
	min-height: 42px;
	width: 940px;
	margin: 0 auto;
	
	background-color: none;
}

.header__inner:nth-child(2) {
	min-height: 158px;
	align-items: center;
	width: 940px;
	margin: 0 auto;
}

.header__logo {	
	min-height: 42px;
	width: 220px;
	
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	
	background-color: rgb(255, 83, 87);
	box-shadow: 0px 5px 0px 0px rgb(181, 41, 51);
	outline: 0;
}

.header__logo:hover,
.header__logo:focus {
	background-color: rgb(202, 44, 55);
	box-shadow: 0px 5px 0px 0px rgb(142, 30, 38);
}

.header__logo:active {
	background-color: rgb(186, 39, 50);
	box-shadow: 0px 5px 0px 0px rgb(154, 33, 42);
}

.header__search-form {
	min-height: 42px;
	width: 250px;
}

.header__input {	
	font: inherit;
	text-align: left;

	background-color: #293449;
	border: none;
	outline: 0;
}

.header__input::placeholder {
	color: #ffffff;
}

.header__input:hover {
	background-color: #212a3a;
}

.header__input:focus {
	background-color: #ffffff;
}

.header__input:focus::placeholder {
	color: #000000;
}

.header__buy-navigation {
	display: flex;
	justify-content: space-between;
	min-height: 42px;
	width: 470px;
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.header__input,
.header__markers a,
.header__cart a,
.header__button a {
	font-size: 17px;
	line-height: 18px;
	
	outline: 0;
}

.header__markers a:hover,
.header__markers a:focus,
.header__cart a:hover,
.header__cart a:focus{
	background-color: #212a3a;
}

.header__markers a:active,
.header__cart a:active{
	color: #8b8e94;
	
	background-color: #161d29;
}

.header__cart--not-empty {
	background-color: rgb(255, 83, 87); 
	
}

.header__button {
	background-color: #6db254;
}

.header__button:hover,
.header__button:focus {
	color: #aac39b;

	background-color: #518534;
}

.header__button:active {
	color: #ffffff;
	
	background-color: #63a63e;
}

.header__description {
	
	padding: 0;
	margin: 0;
	width: 290px;
	
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ff5357;
}

.header__contacts {
	padding: 0;
	margin: 0;
	width: 310px;
}

.header__phone {
	font-size: 21px;
	line-height: 18px;
	color: #fb463c;
}

.header__address {
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
}

.user-navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 41px;
	width: 281px;
	list-style: none;
}
.user-navigation__login-link ,
.user-navigation__registration-link,
.user-navigation__user-name {
	background-color: #ffffff;
}
.user-navigation__login-link a,
.user-navigation__registration-link a,
.user-navigation__user-name a {
	font-size: 21px;
	line-height: 18px;
	color: #000000;
}

.user-navigation__login-link a:hover,
.user-navigation__login-link a:focus,
.user-navigation__registration-link a:hover,
.user-navigation__registration-link a:focus {
	color: #fb463c;
}

.user-navigation__login-link a:active,
.user-navigation__registration-link a:active {
	color: #bcbcbc;
}

.user-navigation__user-name a:active {
	color: #c5c5c5;
}

.user-navigation__my-shoping-link a,
.user-navigation__acount-link a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
	outline: 0;
}

.user-navigation__my-shoping-link a:hover,
.user-navigation__my-shoping-link a:focus,
.user-navigation__acount-link a:hover,
.user-navigation__acount-link a:focus {
	color: #fb463c;
}

.user-navigation__my-shoping-link a:active,
.user-navigation__acount-link a:active {
	color: rgba(50, 66, 92, 0.302);
}

.main-navigation {
	margin: 0;
	margin: 0 auto;
	padding: 0;
	width: 940px;
	
	background-color: #32425c;
	box-shadow: 0px 5px 0px 0px rgb(51, 68, 90);
}
.main-navigation__list {
	display: flex;
	justify-content:space-between;
	min-height:60px;
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.main-navigation__item a	{
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	
	outline: 0;
}

.main-navigation__item a:hover,
.main-navigation__item a:focus {
	background-color: #293449;
}

.main-navigation__item a:active {
	color:rgba(255, 255, 255, 0.502);
	
	background-color: #1d2739;
}
.container {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	
	background-color: #ffffff;
}

.container__wrapper {
	width: 940px;
	margin: 0 auto;
}

.container__column-wrapper {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

.container__wrapper--lelf-column {
	padding: 0;
	margin: 0;
	width: 220px;
}

.container__wrapper--right-column {
	padding: 0;
	margin: 0;
	width: 700px;
}

.features {
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	width: 940px;
	min-height: 410px;
	margin: 0 auto;
	margin-bottom: 54px;	
	padding: 0;
}

.features__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	height: 410px;
	flex-wrap: wrap;
}

.features__list--slider {
	width: 621px;
	justify-content: space-between;
	align-items: space-between;
	align-content: space-between;
}
.features__list--vertical {
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	align-content: space-between;
}

.features__item{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	width: 300px;
	height: 125px;
}
.features__image {
	width: 97px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.features__item--slider {
	width: 621px;
	height: 266px;	
	overflow: hidden;
	position: relative;
}

.features__item--materials{
	background-color:rgb(255, 191, 71);
}

.features__item--tools{
	background-color:rgb(59, 188, 227);
}

.features__item--equipments{
	background-color:rgb(220, 145, 216);
}

.features__item--discount{
	background-color:rgb(142, 215, 143);
}

.features__item--delivery{
	background-color:rgb(255, 191, 71);
}

.features h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}
.slider__slides {	
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.slider__slide {
	position: relative;
}

.slider__caption h3 {
	position: absolute;
	
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider__caption p {
	position: absolute;
	
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;
}

.popular-products {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 21px;
	padding: 0;
	width: 940px;
	min-height: 426px;
}

.popular-products__inner {
	padding: 0px;
	margin: 0px;
	margin-bottom: 22px;
	min-height: 87px;
	
	background-color: rgb(249, 245, 240);
}

.popular-products__title {
	font-size: 30px;
	line-height: 30px;
	color: #3d546e;
	text-transform: uppercase;
}

.popular-products__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.popular-products__item {
	box-sizing: border-box;
	width: 220px;
	height: 318px;

	border: 1px solid rgb(234,234,234);
}

.product:hover,
.product:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.product__navigation {
	list-style: none;
}

.product__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
}

.product__price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;
	
	background-color: rgb(238, 54, 67);
}

.product__old-price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #a9a9a9;
	text-decoration: line-through;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.catalog__item {
	box-sizing: border-box;
	width: 220px;
	height: 318px;
	margin-bottom: 20px;

	border: 1px solid rgb(234,234,234);

}

.popular-producers {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 70px;
	padding: 0;
	width: 940px;
	min-height: 419px;
}

.popular-producers__title {
	font-size: 30px;
	line-height: 30px;
	color: #3d546e;
	text-transform: uppercase;
}

.popular-producers__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	min-height: 318px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.popular-producers__inner {
	padding: 0px;
	margin: 0px;
	margin-bottom: 23px;	
	min-height: 87px;
	
	background-color: rgb(249, 245, 240);
}
.popular-producers__item {
	width: 220px;
	height: 145px;
}
.popular-producers__item a{
	box-sizing: border-box;
	display: block;	
	width: 220px;
	height: 145px;
	
	text-align: center;
	
	outline: none;	
	border: 1px solid rgb(234,234,234);
}

.popular-producers__item a:hover,
.popular-producers__item a:focus {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-producers__item a:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.popular-producers__item a:active img {
	opacity: 0.3;
}
.services__navigation,
.services__slider-slides {
	list-style: none;
}

.services__navigation-item {
	background-color: #ffffff;
}

.services {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	padding-top: 35px;
	width: 940px;
	height: 522px;	
}

.services__inner:first-child {
	height: 130px;
}

.services__inner:last-child {
	height: 294px;
	display: flex;
	justify-content: space-between;

}

.services__navigation {	
	padding: 0;
	margin: 0;
	list-style: none;
	width: 240px;
	height: 183px;
}

.services__button {
	font-weight: bold;
	font-size: 21px;
	font-family: inherit;
	color: #ffffff;
	
	background-color:#32425c;
	border: none;
	outline: 0;
}
.services__inner-wrapper {
	width: 650px;
	min-height: 294px;
	overflow: hidden;
}
.services__slider-slides {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 650px;
	min-height: 294px;
}

.services__slider-slide {
	width: 650px;
	height: 294px;
	padding-top: 10px;
}
.services__button:hover,
.services__button:focus {
	background-color:#293449;
}

.services__button:active {
	color: #32425c;
	
	background-color: transparent;
}

.services__button--curent,
.services__button--curent:hover {
	color: #32425c;
	
	background-color: transparent;
}

.services__title {
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	text-decoration: uppercase;
}

.services__about {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
}

.services__caption,
.services__slider-caption {
	padding: 0;
	margin: 0;	
}

.services__caption {
	font-size: 36px;
	line-height: 24px;
	color: #3d546e;
	text-decoration: uppercase;
}

.services__slider-caption {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
}
.company-contacts-wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	width: 940px;
	display: flex;
	justify-content: space-between;
	min-height: 536px;
	
}
.company {
	width: 540px;
}

.company__title,
.contacts__title {
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	text-decoration: uppercase;
}

.company__about,
.contacts__about {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
}

.company__list-item {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.breadcrumbs {
	height: 61px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.breadcrumbs__item {
	margin-right: 40px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.container__title {
	height: 90px;
	margin: 0;
	margin-bottom: 23px;
	
	font-size: 30px;
	line-height: 30px;
	color: rgb(50, 66, 92);
	text-transform: uppercase;
	text-align: left;
	
	background-color: rgb(242, 246, 248);
}
.filter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.filter__title,
.filter-sorting__title {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 38px;
	
	font-size: 13px;
	line-height: 18x;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: rgb(0, 0, 0);	
}

.filter__title {
	margin-bottom: 20px;
	
	background-color: rgb(247, 243, 236);
}

.filter__caption {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}
.filter__form {
	margin: 0;
	padding: 0;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
}

.filter__list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.filter__prices {
	height: 187px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: space-between;
}

.filter__caption--price {
	align-self: flex-start;
}

.filter__range {
	width: 218px;
	height: 80px;	
	
	background-color: rgb(247, 243, 236);
}
.filter__input {
	width: 95px;
}

.filter__prices-span,
.filter__input,
.checkbox__label,
.radio__label {
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: rgb(0, 0, 0);	
}

.filter__input {
	background-color: rgb(247, 243, 236);
	border: none;
}

.filter-sorting__list {
	box-sizing: border-box;
	height: 38px;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	
	background-color: rgb(247, 243, 236);
}

.filter-sorting {
	margin-bottom: 20px;
}

.filter-sorting__item a,
.filter-sorting__arrow a {
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.302);
}

.filter-sorting__item a {
	border-bottom: 1px dotted rgb(238, 54, 67);
}

.filter-sorting__item a:hover,
.filter-sorting__item a:focus {
	color: rgba(0, 0, 0, 1);
	
	border-bottom: 1px solid rgb(238, 54, 67);
}

.filter-sorting__item a:active {
	color: rgb(238, 54, 67);
	
	border-bottom: none;
}

.filter-sorting__arrow a:hover,
.filter-sorting__arrow a:focus {
	color: rgba(0, 0, 0, 1);
}

.filter-sorting__arrow a:active {
	color: rgb(238, 54, 67);
}

.filter-sorting__item--current a,
.filter-sorting__arrow--current a {
	color: rgb(238, 54, 67);
	
	border:none;
}

.filter-sorting__item--current a:hover,
.filter-sorting__item--current a:focus,
.filter-sorting__arrow--current a:hover,
.filter-sorting__arrow--current a:focus {
	color: rgb(238, 54, 67);
	
	border:none;
}
.pagination {
	margin-bottom: 60px;
}
.pagination__list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination__item a {
	padding: 14px;
	margin-right: 10px;
	font-size: 13px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	
	border: 1px solid rgb(229, 229, 229);
}

.pagination__item a:hover,
.pagination__item a:focus {	
	border: 1px solid rgb(189, 198, 202);
}

.pagination__item a:active {	
	border: 1px solid rgb(238, 54, 67);
}

.pagination__item--current a {
	color: rgb(255, 255, 255);
	
	background-color: rgb(238, 54, 67);
	border: 1px solid rgb(238, 54, 67);
}

.about-product {
	background-color: rgb(242, 246, 248);
}

.about-product__inner {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 940px;
	height: 261px;
	margin: 0 auto;
	padding-top: 40px;
}
.about-product__title {
	font-size: 30px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.about-product__description {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: rgb(0, 0, 0);
}

.footer {
	background-color: rgb(50, 66, 92);
	width: 1200px;
	padding: 0px;
	margin: 0px;
}
.footer__logo-contacts-wrapper {
	align-self: flex-start;
	width: 329px;
}

.footer__logo {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	
	background-color: rgb(255, 83, 87);
	box-shadow: 0px 5px 0px 0px rgb(194, 63, 66);
	
}

.footer__contacts {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;	
}

.footer-navigation__list {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 73px;
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	
	list-style: none;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: no-wrap;
	width: 940px;
	margin: 0 auto;
}
.footer__inner--top {
	height: 193px;
	align-items: center;
}

.footer__inner--bottom {
	height: 107px;
}

.footer__inner-wrapp {
	width: 1200px;
	min-height: 107px;
	margin: 0 auto;
}

.footer__inner-wrapp--dark {
	background-color: #293449;
}

.footer-navigation__item a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	outline: 0;
}

.footer-navigation__item a:hover,
.footer-navigation__item a:focus {
	text-decoration: underline;
}

.footer-navigation__item a:active {
	color: rgba(241, 245, 247, 0.502);
	
	text-decoration: none;
}

.footer-navigation__item--yellow a:active {
	color: rgba(255, 209, 128, 0.502);
	
	text-decoration: none;
}

.footer-navigation__item--yellow a {
	font-size: 18px;
	line-height: 24px;
	color: #ffda96;
}

.footer__copyright {
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
}

.footer__social-list {
	display: flex;
	justify-content: space-between;
	width: 130px;
	list-style: none;
}

.social-button {
	background-color: rgb(33, 42, 58);
}

.social-button:hover,
.social-button:focus {
	background-color: rgb(238, 54, 67);
}

.social-button:active {
	background-color: rgb(238, 54, 67);
}
.footer__feedback {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;	
}

.footer__feedback-link{
	font-size: 16px;
	line-height: 18px;
	color: #ffda96;	
	
	outline: none;
}

.footer__feedback-link:hover,
.footer__feedback-link:focus {
	text-decoration: underline;
}

.footer__feedback-link:active {
	color: #b93545;
	
	text-decoration: none;
}

.services__slider-slide--delivery {
	background-image: url("../img/truck.png");
	background-repeat: no-repeat;
}

.services__slider-slide--guarantee {
	background-image: url("../img/gardian.png");
	background-repeat: no-repeat;	
}

.services__slider-slide--credit {
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;	
}

.modal {
	margin: 0 auto;
}

.modal--write-us {
	box-sizing: border-box;
	width: 620px;
	height: 430px;
	
	border-top: 7px solid rgb(255, 83, 87);
	background-color: #ffffff;	
}

.modal__form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 430px;
}
.modal__text {
	width: 219px;
}
.modal__wrapper--input {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 460px;
	height: 70px;
}
.modal__wrapper--textarea {
	
	display: flex;
	margin: 0 auto;
	height: 145px;
	width: 460px;
}
.modal__wrapper--button {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 131px;
	width: 100%;
	background-color: rgb(244, 244, 244);
}
.modal__textarea {
	width: 460px;
	height: 112px;
}
.modal--write-us label {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.modal__text::placeholder,
.modal--write-us textarea {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #a9a9a9;
	
}

.modal--map {
	width: 970px;
	height: 416px;
	margin: 0 auto;
}

.button {
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: rgb(255, 83, 87);
	border:none;
	outline: 0;
}

.button:hover,
.button:focus {
	background-color: rgb(202, 44, 55);	
}

.button:active {
	background-color: rgb(186, 39, 50);
}

.button--transparent {
	outline: 0;
	
	background-color: rgba(229, 229, 229, 0.4);
}

.button--transparent:hover,
.button--transparent:focus {
	background-color: rgba(204, 204, 204, 0.4);
}

.button--transparent:active {
	background-color: rgba(178, 178, 178, 0.4);
}
.button--green {
	background-color: rgb(99, 166, 62);
}

.button--green:hover,
.button--green:focus {
	background-color: rgb(95, 187, 45);
}

.button--green:active {
	background-color: rgb(81, 133, 52);
}
.button--marks {
	color: #32425c;
	
	background-color: rgb(255, 255, 255);
	border: 3px solid #63a63e;
}

.button--marks:hover,
.button--marks:focus {
	background-color: rgb(255, 255, 255);
	border-color: #32425c;
}

.button--marks:active {
	color: #c1c6ce;
	
	background-color: rgb(255, 255, 255);
	border-color: #c1c6ce;	
}

.filter__button {
	color: rgb(0, 0, 0);
	
	border: 1px solid rgb(229, 229, 229);
	background-color: rgb(255, 255, 255);
}

.filter__button:hover,
.filter__button:focus{
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}


.filter__button:active {
	color: rgb(229, 229, 229);
	
	border: 1px solid rgb(229, 229, 229);
	background-color: rgb(255, 255, 255);
}
